body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: lightgray;
    height: 500px;
    width: 300px;
}

.display {
    width: 250px;
    height: 50px;
    background-color: white;

    margin: 20px;
}

.numbers {
    display: flex;
    margin: 2px;
    
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    
}